<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activity.dosen.LoadingScreenDosenActivity"
            android:exported="false" />
        <activity
            android:name=".onboarding.LoginDosenActivity"
            android:exported="false" />
        <activity
            android:name=".onboarding.OnBoarding7DosenActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MainActivity"
            android:configChanges="uiMode"
            android:exported="false" />
        <activity
            android:name=".onboarding.OnBoarding7Activity"
            android:exported="false" />
        <activity
            android:name=".onboarding.OnBoarding6Activity"
            android:exported="false" />
        <activity
            android:name=".onboarding.OnBoarding5Activity"
            android:exported="false" />
        <activity
            android:name=".onboarding.OnBoarding4Activity"
            android:exported="false" />
        <activity
            android:name=".onboarding.OnBoarding3Activity"
            android:exported="false" />
        <activity
            android:name=".onboarding.OnBoarding2Activity"
            android:exported="false" />
        <activity
            android:name=".onboarding.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activity.dosen.UnggahJurnalDosenActivity"
            android:exported="false" />
        <activity
            android:name=".activity.dosen.EjurnalDosenActivity"
            android:exported="false" />
        <activity
            android:name=".activity.dosen.PengaturanDosenActivity"
            android:exported="false" />
        <activity
            android:name=".activity.dosen.Barcode2DosenActivity"
            android:exported="false" />
        <activity
            android:name=".activity.dosen.Barcode1DosenActivity"
            android:exported="false" />
        <activity
            android:name=".activity.mahasiswa.EjurnalActivity"
            android:exported="false" />
        <activity
            android:name=".activity.mahasiswa.PengaturanActivity"
            android:exported="false" />
        <activity
            android:name=".activity.mahasiswa.RoomchatActivity"
            android:exported="false" />
        <activity
            android:name=".activity.mahasiswa.NotifikasiActivity"
            android:exported="false" />
        <activity
            android:name=".activity.mahasiswa.KalenderActivity"
            android:exported="false" />
        <activity
            android:name=".activity.mahasiswa.LoadingScreenActivity"
            android:exported="false" />
        <activity
            android:name=".activity.mahasiswa.Barcode2Activity"
            android:exported="false" />
        <activity
            android:name=".activity.mahasiswa.Barcode1Activity"
            android:exported="false" />
        <activity
            android:name=".onboarding.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".onboarding.OnBoardingActivity1"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>